* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    gap: 50px;
}

.weather-form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

.weather-form form{
    display: flex;
    gap: 20px;
}

.weather-form button{
    border-radius: 5px;
    padding: 0 10px;
    background-color: rgb(197, 21, 197);
}

.weather-form button:hover{
    background-color: rgba(120, 0, 120, 0.5);
}

.input input{
    padding: 5px;
    border: none;
    border-radius: 5px;    
}

.weather-container{
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

.next-container{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

.next-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.next-days-weather{
    flex: 1;
    display: flex;
}

.current-weather{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.current-data{
    flex: 1;
    display: flex;
    align-items: center;
}

.current-data-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current-data-container img{
    width: 30%;
    height: auto;

}

.current-text{
    display: flex;
    gap: 20px;    
    align-items: center;
}
.current-text p:first-child{
    font-size: 2rem;
}

.hourly-weather{
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 20px;
    border-radius: 50px;
}

.hourly-data{
    flex: 1;
    display: flex;
    width: 300px;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    gap: calc(50%/2);
    scroll-behavior: smooth;
    scrollbar-color: #007BFF rgba(0,0,0,0);
}

.image-data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.image-data-container p{
    width: 100px;
}

.image-data-container img{
    width: 100%;
    height: auto;
}

.next-day-image-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-day-image-text img{

    width: 100%;
    height: auto;
}

.title{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}